{# templates/index.html.twig #}

{% include 'navigation.html.twig' %}
<div id="containerhome">
	<h1 id="titrepa">Découvrez un monde d'articles divers et captivants. Explorez, apprenez et laissez-vous inspirer par chaque page de notre site !</h1>
</div>
<div id="containertxt">

	<h1 id="titretxt">Explorez notre site pour accéder aux derniers articles passionnants sur le monde du gaming, du football et des animes.</h1>
</div>
<div id="containercategorie">
	<div id="categorie1">
		<h2>Gaming</h2>
	</div>
	<div id="categorie2">
		<h2>Foot</h2>
	</div>
	<div id="categorie3">
		<h2>Animes</h2>
	</div>
</div>
<div id="containerp">
	<p>
		Si vous souhaitez accéder au blog, veuillez
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a href="{{ path('blog_index') }}">cliquer ici</a>.
		{% else %}
			<a href="{{ path('app_login') }}" class="btn btn-primary mb-3">vous connecter</a>
		{% endif %}
	</p>
</div></body></html></html>
